/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  height: 130vh;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.collection-dropdown {
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.watch-preview img {
  width: 100%;
  max-width: 350px;
  margin: 20px 0;
}

.watch-info {
  margin: 20px 0;
}

.watch-info h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.watch-info p {
  font-size: 1rem;
  color: #555;
}

.watch-info h3 {
  font-size: 1.2rem;
  color: #007aff;
}

.watch-options {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.option-button {
  background-color: transparent;
  border: 2px solid #007aff;
  color: #007aff;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option-button.active,
.option-button:hover {
  background-color: #007aff;
  color: white;
}
.carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-top: 20px;
}

.carousel-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.save-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007aff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #005bb5;
}
